<!-- Clients Aside -->
<section id="trasparenza" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Documenti di Trasparenza</h2>
            </div>
        </div>

        <div class="row">
            <!--<div *ngFor="let partner of listaPartners" class="col-md-3 col-sm-6 col-xs-12 partnerStyle">
          <a href="{{partner.column_link}}" target="blank">
            <img src="{{partner.img_url}}" [hidden]="partner.img_url == 'unknown'" class="img-responsive img-centered imgPartner" alt="{{partner.column_title}}">
          </a>
        </div>-->
            <div class="col-md-3 col-sm-6 col-xs-12 trasparenzaStyle">
                <a href="./assets/trasparenza/Contributi_2019.pdf">
                    <img src="./assets/trasparenza/pdf_download.png" class="img-responsive img-centered imgTrasparenza"
                        alt="Contributi anno 2019">
                    <p class="pragraphTrasparenza">Contributi Anno 2019</p>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 trasparenzaStyle">
                <a href="./assets/trasparenza/Contributi_2018.pdf">
                    <img src="./assets/trasparenza/pdf_download.png" class="img-responsive img-centered imgTrasparenza"
                        alt="Contributi anno 2018">
                    <p class="pragraphTrasparenza">Contributi Anno 2018</p>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 trasparenzaStyle">
                <a href="./assets/trasparenza/Bilancio_2017.pdf">
                    <img src="./assets/trasparenza/pdf_download.png" class="img-responsive img-centered imgTrasparenza"
                        alt="Bilancio Anno 2016">
                    <p class="pragraphTrasparenza">Bilancio Anno 2016</p>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 trasparenzaStyle">
                <a href="./assets/trasparenza/Bilancio_2016.pdf">
                    <img src="./assets/trasparenza/pdf_download.png" class="img-responsive img-centered imgTrasparenza"
                        alt="Bilancio Anno 2016">
                    <p class="pragraphTrasparenza">Bilancio Anno 2016</p>
                </a>
            </div>
        </div>
    </div>
</section>