<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#myNavbar">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <!--<a class="navbar-brand page-scroll" href="#page-top">Associazione Mani</a>-->
            <a class="navbar-brand page-scroll" href="/"><img src="./assets/img/logo_mani.png" class="logoStyle" title="Associazione Mani" alt="Associazione Mani"></a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar" #myNavbar>
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden"> <a href="/"></a> </li>
                <li routerLinkActive="active" (click)="toggleisExpand()"> <a routerLink="/chiSiamo">HOME</a> </li>
                <li routerLinkActive="active" (click)="toggleisExpand()"> <a routerLink="/cosaFacciamo">SVILUPPI</a> </li>
                <li routerLinkActive="active" (click)="toggleisExpand()"> <a routerLink="/progetti">PROGETTI</a> </li>
                <li routerLinkActive="active" (click)="toggleisExpand()"> <a routerLink="/membri">MEMBRI</a> </li>
                <li routerLinkActive="active" (click)="toggleisExpand()"> <a routerLink="/partners">PARTNERS</a> </li>
                <li routerLinkActive="active" (click)="toggleisExpand()"> <a routerLink="/contattaci">Contattaci</a> </li>
            </ul>
        </div>

        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<router-outlet></router-outlet>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Creato da: <b><a href="https://www.linkedin.com/in/lamine92/" target="_blank">
                        Lamine Ndiaye </a></b></span>
            </div>
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Mani 2019</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://www.youtube.com/channel/UCxWx0LWBQPhMupCnFnzc0JA/" target="blank"><i class="fa fa-youtube"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/Associazione-MANI-10150095283330626/" target="blank"><i class="fa fa-facebook"></i></a>
                </ul>
            </div>
        </div>
    </div>
</footer>